# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for data
data/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# IDE files
.idea/
.vscode/
*.swp
*.swo 